.page {
  margin: 0 auto;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 375px;
  min-block-size: 100dvb;
}

.header {
  display: flex;
  flex-direction: column;
  margin-block-start: 100px;
  margin-block-end: 100px;
  border: 2px solid var(--main-color);
  padding-block-start: 120px;
  color: var(--main-color);
  font-family: "PressStart2P", sans-serif;
  text-transform: uppercase;
  background: var(--background-color);
}

.main-title {
  align-self: center;
  margin-block-end: 20px;
  text-decoration: none;
  font-size: clamp(3.0625rem, 1.8943rem + 4.9844vw, 4.0625rem);
  pointer-events: none;
}

.sub-title {
  align-self: center;
  margin-block-end: 24px;
  font-size: clamp(0.875rem, 0.2179rem + 2.8037vw, 1.4375rem);
}

.theme-menu {
  display: flex;
  justify-content: center;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-inline-start: 20px;
  margin-block-end: 24px;
  font-size: 14px;
}

.theme-menu__button {
  position: relative;
  border: none;
  text-transform: uppercase;
  background-color: transparent;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: 0.3s ease;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
  transition: 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  transition: 0.3s ease;
  pointer-events: none;
}

.theme-menu__button::before {
  content: "";
  position: absolute;
  display: block;
  width: 0%;
  border-block-end: 1px solid var(--main-color);
  transition: width 0.6s;
  inset-block-end: 0;
  inset-inline-start: 4px;
}

.theme-menu__button:focus-visible::before {
  width: 87%;
}

.theme-menu__button:disabled:after {
  content: "▶";
  position: absolute;
  animation: arrow 0.5s infinite alternate ease-in-out;
  inset-inline-start: -15px;
  inset-block-start: 1px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-family: "Inter-Variable", sans-serif;
  font-size: 18px;
}

.content {
  color: var(--main-color);
  background: var(--background-color);
}

.title {
  border: 2px solid var(--main-color);
  padding: 4px 10px;
  font-size: inherit;
  min-block-size: 35px;
  font-variation-settings: "wght" var(--font-title);
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 27px;
  border: 2px solid var(--main-color);
  padding: 26px 26px 25px 24px;
  line-height: 21px;
  font-variation-settings: "wght" var(--font-p);
}

.image {
  position: relative;
  height: calc(100vw - 4px);
  min-height: 371px;
  margin: 0;
  border-inline-start: 2px solid var(--main-color);
  border-inline-end: 2px solid var(--main-color);
  padding: 0;
}

.image img {
  width: 100%;
  height: 100%;
}

.grayscale {
  filter: grayscale(70%);
}

.saturate {
  filter: saturate(250%);
}

.hue-rotate {
  filter: hue-rotate(20deg);
}

.invert {
  filter: invert(85%);
}

.sepia {
  filter: sepia(80%);
}

.blur {
  filter: blur(0.6rem);
}

.multi-filter {
  filter: hue-rotate(90deg) saturate(250%) blur(2px) invert(30%);
}

.watermark {
  position: absolute;
  opacity: 0.5;
  font-family: "PressStart2P", sans-serif;
  font-size: 14px;
  text-shadow:
    -1px 0 var(--background-color),
    0 1px var(--background-color),
    1px 0 var(--background-color),
    0 -1px var(--background-color);
  inset-block-start: 23px;
  inset-inline-end: 11px;
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: var(--webkit-text-stroke-width) (--webkit-text-stroke-color)) or
    (
      -webkit-text-stroke: var(--webkit-text-stroke-width) (--webkit-text-stroke-color)
    )
) {
  .watermark {
    -webkit-text-stroke-width: var(--webkit-text-stroke-width);
    -webkit-text-stroke-color: var(--webkit-text-stroke-color);
  }
}
.card__like-button {
  inline-size: 129px;
}

.button {
  border: 2px solid var(--main-color);
  outline: none;
  color: var(--background-color);
  font-family: "PressStart2P", sans-serif;
  font-size: 14px;
  background-image: linear-gradient(
    to right,
    var(--background-color) 50%,
    var(--main-color) 50%
  );
  background-size: 200%;
  transition: 0.5s ease-in-out;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--main-color);
}

.button:hover {
  background-position: -100% 0;
}

.button__text {
  filter: var(--filter);
  mix-blend-mode: difference;
}

.controls {
  display: flex;
  justify-content: end;
  gap: 7px;
  margin-block-start: -3px;
  block-size: 38px;
}

.card__icon-button {
  width: 38px;
  height: 38px;
  border: 2px solid transparent;
  outline: none;
  background-color: transparent;
}

.like-icon {
  width: 100%;
  height: 105%;
  transform: scale(1.7);
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color);
  transition: 0.3s ease;
}

.contour {
  fill: var(--main-color);
}

.main-body {
  fill: transparent;
  transition: 0.3s;
}

.core {
  fill: transparent;
  transition: 0.3s 0.03s;
}

.like-icon:hover .main-body {
  fill: var(--main-color);
  transition: 0.3s 0.05s;
}

.like-icon:hover .core {
  fill: var(--main-color);
  transition: 0.3s;
}

.like-icon:active .main-body {
  fill: var(--heart_sparks);
  transition: 0.3s 0.05s;
}

.like-icon:active .core {
  fill: var(--heart_sparks);
  transition: 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart_sparks);
  transition: 0.3s 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--heart_sparks);
  transition: 0.3s;
}

.like-icon.is-liked .contour {
  fill: var(--heart_sparks);
  transition: 0.3s 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart forwards 0.3s 0.1s alternate ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s alternate ease-in;
}

.like-icon .main-body,
.core {
  transition: 0.1s;
}

.heart {
  transform-origin: center;
}

.sparks {
  opacity: 0;
}

.save_button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  block-size: 84px;
  min-inline-size: 308px;
}

.save_button .floppy {
  width: 28px;
  height: 28px;
  padding-top: 0;
}

.dialog-article {
  display: flex;
  justify-content: center;
  padding-bottom: 102px;
  background-color: transparent;
}

.dialog {
  width: 355px;
  min-width: 341px;
  border: 2px solid var(--main-color);
  padding: 28px;
  background-color: var(--background-color);
}

.dialog[open] {
  animation: dialog 1s ease forwards;
}

.dialog-content {
  display: flex;
  gap: 20px;
}

.dialog::backdrop {
  opacity: 0.75;
  background: #000;
}

.dialog-text {
  color: var(--main-color);
  font-family: "PressStart2P", sans-serif;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog-button {
  position: relative;
  width: 100%;
  height: 38px;
  margin-top: 30px;
  background-color: transparent;
}

.floppy {
  width: 84px;
  height: 51px;
  padding-top: 11px;
  color: var(--floppy-color);
  mix-blend-mode: difference;
}

@media (width>=696px) {
  .page {
    max-inline-size: 696px;
  }

  .header {
    padding-block-start: 136px;
  }

  .image {
    height: 696px;
  }

  .save_button .floppy {
    width: 21px;
    height: 21px;
  }

  .watermark {
    inset-block-start: 26px;
    inset-inline-end: 24px;
  }

  .wrapper {
    padding: 26px 24px 25px 24px;
  }

  .save_button {
    flex-direction: row;
    block-size: 55px;
    min-inline-size: 339px;
  }
}
