/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 375px;
  min-block-size: 100dvb;
  margin: 0 auto;
  background-color: var(--Themes-mainColor);
  background-image: var(--background-image);
  background-size: cover;
}

.header {
  background: var(--Themes-background);
  color: var(--Themes-mainColor);
  padding-block-start: 120px;
  display: flex;
  flex-direction: column;
  font-family: "PressStart2P";
  border: 2px solid var(--Themes-mainColor);
  text-transform: uppercase;
  margin-block-end: 100px;
  margin-block-start: 100px;
}

.header h1 {
  align-self: center;
  font-size: clamp(3.0625rem, 1.8943rem + 4.9844vw, 4.0625rem);
  margin-block-end: 20px;
}

.header h2 {
  align-self: center;
  margin-block-end: 24px;
  font-size: clamp(0.875rem, 0.2179rem + 2.8037vw, 1.4375rem);
}

.theme-menu {
  display: flex;
  justify-content: center;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 14px;
  margin-block-end: 24px;
  margin-inline-start: 20px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  position: relative;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: 0.3s ease;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  transition: 0.3s ease;
  outline: none;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  transition: 0.3s ease;
  pointer-events: none;
}

.theme-menu__button::before {
  border-block-end: 1px solid var(--Themes-mainColor);
  width: 0%;
  display: block;
  position: absolute;
  inset-block-end: 0;
  content: "";
  transition: width 0.6s;
}

.theme-menu__button:focus-visible::before {
  width: 85%;
}

.theme-menu__button:disabled:after {
  animation: arrow 0.5s infinite alternate ease-in-out;
  content: "▶";
  position: absolute;
  inset-inline-start: -15px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-family: 'Inter-Variable', sans-serif;
  font-size: 18px;
}

.content {
  background: var(--Themes-background);
  color: var(--Themes-mainColor);
}

.title {
  border: 2px solid var(--Themes-mainColor);
  font-size: inherit;
  min-block-size: 31px;
  padding: 4px 10px 5px 10px;
  font-variation-settings:"wght" var(--font-title);
}

.double_str_title {
  padding-bottom: 4px;
}

.wrapper {
  border: 2px solid var(--Themes-mainColor);
  padding: 26px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  font-variation-settings:"wght" var(--font-p);
  gap: 27px;
  line-height: 21px;
  position: relative;
}

.image {
  min-height: 371px;
  border-inline-start: 2px solid var(--Themes-mainColor);
  border-inline-end: 2px solid var(--Themes-mainColor);
  height: calc(100vw - 4px);
  position: relative;
}

.image img {
  height: 100%;
  width: 100%;
}

.grayscale {
  filter: grayscale(70%);
}

.saturate {
  filter: saturate(250%);
}

.hue-rotate {
  filter: hue-rotate(20deg);
}

.invert {
  filter: invert(85%);
}

.sepia {
  filter: sepia(80%);
}

.blur {
  filter: blur(0.6rem);
}

.multi-filter {
  filter: hue-rotate(90deg) saturate(250%) blur(2px) invert(30%);
}

.watermark {
  position: absolute;
  inset-block-start: 23px;
  inset-inline-end: 11px;
  font-family: 'PressStart2P';
  opacity: 0.5;
  mix-blend-mode: hard-light;
  font-size: 14px;
  text-shadow:
    -1px 0 var(--Themes-background), 
   0 1px var(--Themes-background), 
   1px 0 var(--Themes-background), 
   0 -1px var(--Themes-background);
}

@supports (text-stroke: 0.5px var(--Themes-background)) or (-webkit-text-stroke: 0.5px var(--Themes-background)) {
  .watermark {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--Themes-background);
  }
}
.card__like-button {
  inline-size: 129px;
}

.button {
  font-family: 'PressStart2P';
  font-size: 14px;
  color: var(--control);
  outline: none;
  background-size: 200%;
  background-image: linear-gradient(to right, var(--Themes-background) 50%, var(--Themes-mainColor) 50%);
  border: 2px solid var(--Themes-mainColor);
  transition: 0.5s ease-in-out;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--Themes-mainColor);
}

.button:hover {
  background-position: -100% 0;
}

.button span {
  color: var(--control-blend);
  mix-blend-mode: difference;
}

.controls {
  display: flex;
  justify-content: end;
  block-size: 38px;
  margin-block-start: -3px;
}

.card__icon-button {
  background-color: transparent;
  outline: none;
  border: 2px solid transparent;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--Themes-mainColor);
  transition: 0.3s ease;
}

.contour {
  fill: var(--Themes-mainColor);
}

.main-body {
  fill: transparent;
  transition: 0.3s;
}

.core {
  fill: transparent;
  transition: 0.3s 0.03s;
}

.like-icon:hover .main-body {
  fill: var(--heart_contour);
  transition: 0.3s 0.05s;
}

.like-icon:hover .core {
  transition: 0.3s;
  fill: var(--heart_contour);
}

.like-icon:active .main-body {
  fill: var(--heart_sparks);
  transition: 0.3s 0.05s;
}

.like-icon:active .core {
  transition: 0.3s;
  fill: var(--heart_sparks);
}

.like-icon.is-liked .main-body {
  fill: var(--heart_sparks);
  transition: 0.3s 0.05s;
}

.like-icon.is-liked .core {
  transition: 0.3s;
  fill: var(--heart_sparks);
}

.like-icon.is-liked .contour {
  transition: 0.3s 0.06s;
  fill: var(--heart_sparks);
}

.like-icon.is-liked .heart {
  animation: heart forwards 0.3s 0.1s alternate ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparks forwards 0.3s 0.3s alternate ease-in;
}

.like-icon .main-body, .core {
  transition: 0.1s;
}

.heart {
  transform-origin: center;
}

.sparks {
  opacity: 0;
}

.dialog-section {
  padding-bottom: 102px;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

dialog {
  background-color: var(--Themes-background);
  padding: 32px 37px;
  display: grid;
  border: 2px solid var(--Themes-mainColor);
  position: fixed;
  inset: 0;
  transition: opacity 0.3s ease-in-out;
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
  transition: 1s 0.6s;
}

.dialog-content {
  gap: 20px;
  display: flex;
  height: 60px;
}

.dialog-content .floppy {
  height: 39px;
  width: 86px;
}

dialog::backdrop {
  opacity: 0.75;
  background: #000;
}

.dialog-text {
  color: var(--Themes-mainColor, #000);
  font-family: "PressStart2P";
  font-size: 14px;
}

.dialog-button {
  width: 257px;
  height: 38px;
  position: relative;
  background-color: transparent;
  color: var(--Themes-mainColor);
  margin-top: 30px;
}

.save_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  block-size: 84px;
  min-inline-size: 308px;
  position: relative;
  background-color: transparent;
  color: var(--Themes-mainColor);
}

.floppy {
  height: 28px;
  width: 28px;
  mix-blend-mode: difference;
  color: var(--Themes-background);
}

@media(width>=696px) {
  .page {
    max-inline-size: 696px;
  }
  .header {
    padding-block-start: 136px;
  }
  .image {
    height: 696px;
    border-inline-start: none;
    border-inline-end: none;
  }
  .floppy {
    height: 22px;
    width: 22px;
  }
  .watermark {
    inset-block-start: 26px;
    inset-inline-end: 24px;
  }
  .save_button {
    block-size: 55px;
    flex-direction: row;
    min-inline-size: 335px;
  }
}
