/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

@media (prefers-color-scheme: dark) {
    :root {
        --Themes-mainColor: #00CC14;
        --Themes-background: #000;
        --font-title: 'wght' 785;
        --font-p: 'wght' 465;
    }
}

.theme-light {
    --Themes-mainColor: #000;
    --Themes-background: #FFF;
    --font-title: 'wght' 700;
    --font-p: 'wght' 400;
}

.theme-dark {
    --Themes-mainColor: #00CC14;
    --Themes-background: #000;
    --font-title: 'wght' 785;
    --font-p: 'wght' 465;
}
