/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-color: #000;
    --background-color: #FFF;
    --heart_sparks: red;
    --font-title: 700;
    --font-p: 400;
    --background-image: repeating-linear-gradient(to right, var(--background-color) 0 2px, transparent 2px 4px), repeating-linear-gradient(to bottom, var(--background-color) 0 2px, transparent 2px 4px), linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --blend: difference;
    --filter: none;
    --floppy-color: #FFF;
    --webkit-text-stroke-width: 0.5px;
    --webkit-text-stroke-color: #FFF;
}
